* {
   margin: 0px;
   padding: 0px;
   font-family:"Arial", "Helvetica", "Georgia";
   font-size: 12px;
}
html { 
  background: url("../images/secc.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}	
#wrapper {
   border: 1px solid #d1d1d1;
   height: 100%;
   width: 980px;
   padding: 10px;
   margin: 20px auto;
   background-color: #FFF;
   overflow:hidden;
   
}	
#header {
  padding: 10px;
  height: 100px;
  background-color: #1BBC9B;
  position: relative;
}
#nav {
    float: right;
}
#nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav ul li {
    display: inline;
}
#nav ul li a {
    padding:7px;
    min-width: 120px;
    background: #018261;
    color:#fff;
    font-size: 0.9em;
    text-decoration: none;
    font-weight: bold;  
}
#nav ul li a:hover {
    background: #1E9F7E;
    text-decoration: none;
}
.sitelogo {
    width: 350px;
    float: left;
}
.sitelogo h1 {
    color: #FFFFFF;
    font-size: 4.9em;
    font-weight: bold;
}
.sitelogo h1 span {
    color: #00518A;
    font-size: 0.5em;
    letter-spacing: 0.47em;
}
.pagetitle {
    bottom: 0;
    position: absolute;
    right: 10px;
    text-align: right;
    width: 500px;
}
.pagetitle > h1 {
    color: #fff;
    font-size: 1.3em;
    margin: 10px 0;
}
#p-left {
    float: left;
    padding: 15px;
    width: 482px;
}
#p-left h1 {
    font-size: 1.9em;
    font-weight: bold;
    margin: 5px 0;
}
#p-left h3 {
    color: #555555;
    font-size: 1.9em;
}
#p-left p {
    line-height: 1.8em;
    margin: 5px 0;
}
#p-right{
   float:left;
}
#p-full {
    padding: 20px 0;
    width: 100%;
}
.confirmation {
    width: 460px;
}
.info p {
    padding: 10px 0;
}
fieldset {
    background: none repeat scroll 0 0 #1BBC9B;
    border: 1px solid #16A086;
    margin: 20px auto 0;
    padding: 20px;
    width: 410px;
}
fieldset p {
    color: #FFFFFF;
    font-family: "Arial",sans-serif;
    font-size: 1.2em;
}
legend {
    background: none repeat scroll 0 0 #16A086;
    border: 1px solid #018B71;
    color: #FFFFFF;
    font-family: "Arial",sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 7px;
}
input {
    background: none repeat scroll 0 0 #ffffff;
    border: 0;
    margin: 10px 0;
    padding: 6px;
    width: 412px;
}
input[type="submit"] {
    background: none repeat scroll 0 0 #16A086;
    width: 425px;
    cursor: pointer;
}
#welcome p {
    color: #444444;
    font-family: "Arial",sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px 0;
}

/* Sub menu items */
#menu {
    background: none repeat scroll 0 0 #555;
    height: 32px;
}
#menu ul {
    list-style: none;
    padding: 4px 0;
}

#menu ul li {
    display: inline;
    margin: 0 -1px;
}
#menu ul li a {
    background: none repeat scroll 0 0 #1E9F7E;
    color: #000000;
    font-size: 14px;
    line-height: 24px;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    width: 190px;
}
#menu ul li a:hover {
    background: none repeat scroll 0 0 #1BBC9B;
}
th {
    border-bottom: 1px solid #CCCCCC;
    padding: 4px 0;
    text-align: left;
}
h3{
	color:red;
	font-size: 14px;
	padding: 10px 0 0 0;
}
